# Ignore Python virtual environments
venv/
.venv/
.idea/

# Ignore config with secrets
config.json
Simulator/config.toml

# Ignore Python cache, logs, and OS files
__pycache__/
*.pyc
*.pyo
*.log
.DS_Store